
html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #AED8FE 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #AED8FE 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #AED8FE 100%);
}

main {
    display: flex;
	flex-direction: column;
	align-items: center;
}

.fiveday {
	display: flex;
	align-items: center;
}

.forecast{
	padding: 0.3em
}